/*CONFIGURAÇÕES GERAIS*/

body{
	background: linear-gradient(to left, #ddd, #fff);
}

/*Links*/
a{
	color: #fff;
}

a:link{
	text-decoration: none;
	color: #fff;
}

a:visited{
	color: #fff;
}

a:hover{
	color: gray;
}

a:active{
	color: #fff;
}
/*Links - FIM*/

h1{
	font-family: "Panton Light", verdana;
}

p{
	margin: 30px 30px;
}

/*Formulario*/
select{
	width: 100px;
	height: 25px;
	color: #000;

}

option{
	font-weight: 600;
	color: #000;
}
/*Formulario - FIM*/


/**************************************************************/
/*Cabeçalho*/

#cabecalho{
	font-family: "Panton Light", verdana;
	font-size: 16px;
	line-height: 25px;
}

#cabecalho img{
	width: 200px;
	height: 100px;
}

.infos-cabecalho{
	margin-top: 15px;
	float: right;
}

/**************************************************************/
/*Menu - Inicio*/
.config-menu{
	font-family: "Panton", verdana;
	font-size: 24px;
	text-align: center;
	word-spacing: 35px;
	letter-spacing: 2px;
	background: linear-gradient(to right, #1E90FF, #87CEFA); /*Dodge Blue e LIGHT SKY BLUE*/
	color: #fff;
}

.palavras-juntas{
	word-spacing: normal;
}

/*Btn p/ pequenas resoluções*/
.estilo-btn-menu{
	border: 1px solid #fff;
	background: linear-gradient(to right, #d2d2d2, lightgray);
}

.estilo-icon-bar{
	background: #fff;
}
/*Menu - FIM*/
/**************************************************************/
/*Slide*/
#slide{ /*Temporario*/

	box-sizing: border-box;
	height: 300px;
	margin-top: 1px;
	padding: 25px;
	border-radius: 4px;

	background-image: url("../imgs/Slide/slide1.jpg");
	background-size: cover;
	-moz-background-size: cover;
	-webkit-background-size: cover;
	-o-background-size: cover;

	color: #fff;
}

/**************************************************************/
/*Conteúdo*/
#conteudo{
	margin-top: 35px;

	font-family: "Panton Light", verdana;
	font-size: 19px;
	text-align: justify;
}

.p-conteudo{
	margin-top: 30px
}


/*Container Infos*/
#cont-padrao{
	margin-top: 60px;
	box-sizing: border-box;
	height: 200px;
	border: 1px solid gray;
	border-radius: 10px;
	box-shadow: 3px 2px 5px gray;

	-moz-background-size: 100% 100%;
	-webkit-background-size: 100% 100%;
	-o-background-size: 100% 100%;
}

.cont-link{
	display: block;
	text-align: center;
}

/*Links diferenciados usado na pagina "QUEM_SOMOS.HTML"*/
a.cont-link:link{
	color: #000;
}

a.cont-link:visited{
	color: #000;
}

a.cont-link:hover{
	color: lightgray;
}

a.cont-link:active{
	color: #000;
}
/*Links - FIM*/

.img-cont1{
	background-image: url("../imgs/Containers/cont1.jpg");
}

.img-cont2{
	background-image: url("../imgs/containers/cont2.jpg");
}

.img-cont3{
	background-image: url("../imgs/containers/cont3.png");
}

/*Pagina Serviços e Servicos-Caes, Servicos-Gatos, etc...*/
.servicos{
	margin-top: 60px;
}

.servicos h1{
	margin-top: 0px;
}

.img-cont4{
	background-image: url("../imgs/pets/caes/dog-1.png");
}

.img-cont5{
	background-image: url("../imgs/pets/gatos/gato-1.png");
}

.img-cont6{
	background-image: url("../imgs/pets/roedores/roedor-1.png");
}

.img-cont7{
	background-image: url("../imgs/pets/aves/ave-1.jpg");
}

.img-servico{
	width: 300px;
	height: 250px;
	display: block;
	margin: 10 auto;
}
/*Pagina Serviços - FIM*/

/*Botão - Inicio*/
.btn-cont{
	margin-top: 20px;
	font-family: "Panton Black", verdana;
	font-size: 16px;
	letter-spacing: 2px;
}

/*Botão - Fim*/

/*Container Infos  -FIM*/
/**************************************************************/
/*Rodapé*/
#rodape{
	margin-top: 20px;
	margin-bottom: 7px;
	padding-top: 20px;

	font-family: "Panton Light", verdana;
	font-size: 16px;
	background: #333333;
	color: #fff;
}

#rodape p{
	margin: 0px;
}

#rodape h2{
	margin-top: 5px;
	margin-bottom: 0px;

}

#rodape hr{
	margin-top: 0px;
}

/**************************************************************/
/*CopyRight*/
#copyright{
	color: gray;
	font-family: "Panton Light", verdana;
	font-weight: bold;
	text-align: center;
}

#copyright h4{
	margin-top: 0px;
	margin-bottom: 0px;
}

#copyright a:link{
	color: gray;
}

#copyright a:visited{
	color: gray;
}

#copyright a:hover{
	color: gray;
}

#copyright a:active{
	color: gray;
}

/**************************************************************/
